services:
  redis:
    image: redis:7.4-alpine
    container_name: sbms-redis-cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data  
      
volumes:
  redis_data:
    driver: local